#neubar {
  background: pink;
  box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}

#neubar .dropdown-menu a:hover {
  color: pink
}
#neubar .nav-item {
  margin : auto 4px;
  border-radius: 30px;
}
#neubar a:hover{
  color: pink;
}
#neubar .nav-item:hover {
  background-color: white;
}

#neubar a {
  padding-left:12px;
  padding-right:12px;
}
#neubar .dropdown-menu {
  background : pink
}
a.navbar-brand {
  color: pink;
  margin: 0;
}
a.navbar-brand img {
  height: 120px;
  width: 120px;
}
.nav-link {
  font-size: 1.2em;
}
.container-fluid{
    padding-bottom: 2em;
}
