{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<section class="p-4 p-md-5" style="background-color: white">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h3>Settings</h3>
            <h6>Payment</h6>
          </div>
          <form action="" method="post" id="form2">


            <p class="fw-bold mb-4">Add new card:</p>

            <div class="form-outline mb-4">
              <div class="col-10  ">
              {{ form.full_name.label( class="form-label") }}
              {{ form.full_name(class="form-control form-control-lg") }}
                </div>
            </div>

            <div class="row mb-4">
              <div class="col-7">
                <div class="form-outline">
                  {{ form.card_number.label( class="form-label") }}
                  {{ form.card_number(class="form-control form-control-lg", id="num", oninput="return onlynum()", maxlength="16") }}
                </div>
              </div>
              <div class="col-3 mb-4">
                <div class="form-outline">
                  {{ form.cvv.label( class="form-label") }}
                  {{ form.cvv(class="form-control form-control-lg", id="num", oninput="return onlynum()", maxlength="4") }}

                </div>
              </div>
              <div class="col-4">
                <div class="form-outline">
                  {{ form.expiry_year.label( class="form-label") }}
                  {{ form.expiry_year(class="form-control form-control-lg") }}
                </div>
              </div>
              /
              <div class="col-4">
                <div class="form-outline">
                  {{ form.expiry_month.label( class="form-label") }}
                  {{ form.expiry_month(class="form-control form-control-lg") }}
                </div>
              </div>
            </div>
            {% if error %}
                    <p class="text-danger mb-1 pb-lg-1">{{error}}</p>
                  {% endif %}
            <button class="btn btn-success btn-lg btn-block">Add card</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
        $(function() {
            $("input[name="cvv"]").on('input', function(e) {
                $(this).val($(this).val().replace(/[^0-9]/g, ''));
            });
        });
</script>
<script>
        function onlynum() {
            var fm = document.getElementById("form2");
            var ip = document.getElementById("num");
            var tag = document.getElementById("value");
            var res = ip.value;

            if (res != '') {
                if (isNaN(res)) {

                    // Set input value empty
                    ip.value = "";


                } else {
                    return true
                }
            }
        }
</script>
{% endblock %}

