{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/retrieveMessages">View messages</a>
  <a href="/retrieveResumes">View job applications</a>
  <a href="/createJobPositions">Create Job positions</a>
  <a href="/retrieveJobPositions">View job positions</a>
  <a href="/retrieveUsers">View users</a>
  <a href="/createProducts">Create Products</a>
  <a href="/retrieveProducts">View Products</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>

</div>
<script src="../static/javascript/sidebar.js"></script>
{% endblock %}
