{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
            <div class="alert {{category}} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<section class="h-100 h-custom">
  <div class="container h-100 py-5 w-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Shopping Cart</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotals</th>
              </tr>
            </thead>
            <tbody>
            {% if cart_count == 0 %}
            <tr style="border-style: none">
              <td style="border-bottom-width: 0px">
                <h1>Nothing in cart</h1>
              </td>
            </tr>
            {% else %}
            {% for items in cart_list %}


              <tr style="border-style: none">
                <th scope="row" class="border-bottom-0">
                  <div class="d-flex align-items-center">
                <img src="{{ items.get_image() }}" class="img-fluid rounded-3" style="width: 120px;" alt="Book">
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{ items.get_product() }}</p>
                      <p class="mb-0"></p>
                    </div>
                  </div>
                </th>
                <td class="align-middle border-bottom-0">
                  <p class="mb-0" style="font-weight: 500;">{{ items.get_quantity() }}</p>
                </td>
                <td class="align-middle border-bottom-0">
                  <div class="d-flex flex-row">
                    <p class="mb-0" style="font-weight: 500;">$ {{ items.get_price() }}</p>
                  </div>
                </td>
                <td class="align-middle border-bottom-0">
                  <p class="mb-0" style="font-weight: 500;">$ {{ items.get_total_item_price() }}</p>
                </td>
                <td class="align-middle border-bottom-0">
                  <div class="d-flex flex-row">
                    <form action="{{url_for('delete_item', cart_id = items.get_cart_id())}}" method="POST">
          <!-- Button to Open the Modal -->
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{items.get_cart_id()}}">
                        <i class="fa fa-trash"></i>
                      </button>

                      <!-- The Modal -->
                      <div class="modal" id="myModal_{{items.get_cart_id()}}">
                        <div class="modal-dialog">
                          <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Delete Confirmation</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure you want to delete {{items.get_product()}} product?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <input type="submit" value="Delete" class="btn btn-danger">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>

                          </div>
                        </div>
                      </div>
          </form>

                  </div>
                </td>
              </tr>
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>

        <div class="card shadow-2-strong mb-5 mb-lg-0 " style="background-color: transparent; border: none; border-top: 2px solid; border-radius: 0px; ">
          <div class="card-body p-4" >

            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-6 mb-4 mb-md-0">
                <form>
                  {% if card_count == 0 %}
                  <h1 class="text-right">No payment methods</h1>
                  <a href="/addPaymentMethod" class="btn btn-primary">Add payment methods</a>
                  {% else %}
                 {% for cards in card_list %}
                   <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2">
                      <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                        value="" aria-label="..." checked />
                    </div>
                    <div class="rounded border w-100 p-3" style="background-color: white;">
                      <p class="d-flex align-items-center mb-0">
                        <i class="fab fa-cc-visa fa-2x text-dark pe-2"></i>**** **** **** {{ cards.get_number()[12:16] }}

                      </p>
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                </form>
              </div>

              <div class="col-lg-4 col-xl-6">
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-2">Subtotal</p>
                  <p class="mb-2">$ {{ subtotal }}</p>
                </div>

                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Shipping</p>
                  <p class="mb-0">$2.99</p>
                </div>

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Total (shipping included)</p>
                  <p class="mb-2">$ {{total}} </p>
                </div>

                  <button type="button" id="checkoutButton" class="btn btn-primary btn-block btn-lg">
                    <a href="/checkOut" style="text-decoration: none; color: white;"><span>Checkout</span> </a>

                  </button>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<script>
button = document.getElementById('checkoutButton')
cart_count = {{ cart_count }}
card_count = {{ card_count }}
if (cart_count == 0 || card_count == 0){
  button.disabled = true;
  button.style.color = "black";
  console.log('0');
  button.classList.add('btn-success');
}
else {
  button.disabled = false
}

</script>
{% endblock %}