{% extends "base.html" %}
{% block title %}Dr Donut{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<link rel="stylesheet" href="../static/css/CRUD.css">
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p class="text-center p-3"><img src="/static/images/TheLogo.png" alt="" style="width: 70px;, height: 70px;"></p>

    <a class="links" href="/admin"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
    <a class="links" href="/retrieveMessages"><i class="fa-solid fa-envelope"></i>Messages</a>
    <!--  <a href="/retrieveResumes">View job applications</a>-->
    <a class="links" href="/retrieveJobPositions"><i class="fa-solid fa-broom"></i>Job positions</a>
    <!--  <a href="/retrieveJobPositions">View job positions</a>-->
    <a class="links" href="/retrieveUsers"><i class="fa-solid fa-users"></i>User management</a>
    <a class="links" href="/retrieveProducts"><i class="fa-solid fa-warehouse"></i>Inventory</a>
    <a class="links" href="/retrieveReports"><i class="fa-solid fa-file"></i>Report generation</a>
    <a class="links" href="/createReport"><i class="fa-solid fa-plus"></i>Create report</a>
    <a class="links" href="/retrieveResumes"><i class="fa-solid fa-clipboard"></i>Job applications</a>
<!--  <a href="/retrieveProducts">View Products</a>-->
</div>


<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
  <div class="container-fluid w-75">
    <h1 class="display-4">Create Products</h1>

    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        {{ form.Name.label( class="form-label")}}
        {{ form.Name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Rating.label( class="form-label")}}
        {{ form.Rating(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Description.label( class="form-label")}}
        {{ form.Description(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Price.label( class="form-label")}}
        {{ form.Price(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Image.label( class="form-label") }}
        {{ form.Image(class="form-control") }}
      </div>
      <div class="form-group">
        {{form.Submit(class="btn btn-primary")}}
      </div>

    </form>
  </div>
</div>
<script src="../static/javascript/sidebar.js"></script>
{% endblock %}
