{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<link rel="stylesheet" href="../static/css/home.css">
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg section-all">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">have a time<br>have a donut</h2>
          <p data-aos="fade-up" data-aos-delay="100">Fresh donuts and sweet moments await at Dr. Donut. Stop by today and treat yourself to a taste of happiness."</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="/products" class="btn-book-a-table">Check out our donuts</a>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-all">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(../static/images/colorful-donuts-pink-pink-wallpaper-preview.jpg) ; background-size: contain" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Book a Table</h4>
              <p>+65 9145 3697</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Our Motto
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> At Dr. Donut, we believe that life is sweeter with a delicious donut. Our team is dedicated to creating the perfect treat, using only the freshest ingredients and time-tested techniques..</li>
                <li><i class="bi bi-check2-all"></i> Whether you're grabbing a quick breakfast, indulging in a sweet snack, or celebrating a special occasion, our donuts are the perfect way to add a little joy to your day.</li>
                <li><i class="bi bi-check2-all"></i>  We offer a variety of classic and unique flavors, from traditional glazed donuts to more adventurous options like cheese. Every bite is a mouth-watering experience, and we're sure you'll find your new favorite flavor.</li>
              </ul>
              <p>
                Since 500BC, we've been bringing happiness to our community, one delicious donut at a time. Come visit us and treat yourself to a time, and a donut, today. We can't wait to share our love of donuts with you!"
              </p>

              <div class="position-relative mt-4">
                <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-all">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Dr. Donut?</h3>
              <p>
                At Dr. Donut, we believe that life is sweeter with a delicious donut, and we're dedicated to making every bite a memorable experience. Our goal is to bring a little bit of joy to your day with every treat we serve.              </p>
              <div class="text-center">
                <a href="/aboutus" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <img src="/static/images/islam.jpeg " alt="" id="islam">
                  <h4>Islam Makhachev</h4>
                  <p>"Dr. Donut is my go-to spot for fresh and delicious donuts. I love the variety of flavors and the friendly staff."</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <img src="/static/images/jonjones.jpeg" alt="" id='jonjones'>
                  <h4>Jon Jones</h4>
                  <p>"I was blown away by the light and flaky croissants and moist and flavorful donuts at Dr. Donut. I can't wait to go back and try more."</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <img src="/static/images/tony.png" alt="" id="tony">
                  <h4>Tony Ferguson</h4>
                  <p>"Dr. Donut is the place to go for the best donuts in town. Their classic glazed is a personal favorite and the unique flavors are worth trying too."</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->
  </main>
{% endblock %}
