{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/products.css">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
            <div class="alert {{category}} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1 class="heading text-center">
        <span>d</span>
        <span>o</span>
        <span>n</span>
        <span>u</span>
		<span>t</span>
        <span>s</span>
    </h1>
<div class="container-fluid cardbox">

    <div class="row">

        {% for products in products_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{ products.get_image() }}" alt="" style="width:300px, height: 300px" class="card-img-top">
                <div class="card-body">
                    <h3 class="cardtitle">{{ products.get_name() }}</h3>
                    <div class="card-text">{{ products.get_description() }}</div>
                    <div class="card-text">Price: ${{ products.get_price() }}</div>
                    <div class="card-text">Rating: {{ products.get_rating() }}/5</div>
                    <div class="card-text">
            <form action="{{url_for('add_cart', product_id=products.get_product_id())}}" method="POST">
                        <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{products.get_product_id()}}">
                  Add to cart
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal_{{products.get_product_id()}}">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Add item to cart</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <p>You are adding {{ products.get_name() }} to cart</p>

                              {{ form.Quantity.label( class="form-label") }}
                              {{ form.Quantity(class="form-control") }}
                          {% if error %}
                    <p class="text-danger mb-1 pb-lg-1">{{error}}</p>
                  {% endif %}

                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <input type="submit" value="Add to cart" class="btn btn-danger">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>

                    </div>
                  </div>
                </div>
            </form>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="/static/javascript/cart.js"></script>
{% endblock %}