{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/viewJobs.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../static/images/donut_lead.jpg" alt="" style="width:300px, height: 300px" class="card-img-top">
                <div class="card-body">
                    <h5 class="cardtitle">Test Test</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../static/images/donut_lead.jpg" alt="" style="width:300px, height: 300px" class="card-img-top">
                <div class="card-body">
                    <h5 class="cardtitle">Test Test</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../static/images/donut_lead.jpg" alt="" style="width:300px, height: 300px" class="card-img-top">
                <div class="card-body">
                    <h5 class="cardtitle">Test Test</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="../static/images/donut_lead.jpg" alt="" style="width:300px, height: 300px" class="card-img-top">
                <div class="card-body">
                    <h5 class="cardtitle">Test Test</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}