<link rel="stylesheet" href="../static/Css/register.css">
{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Reset password</h2>

              <form method="post">
                {{ form.hidden_tag() }}

                <div class="form-outline mb-4">
                  {{form.password.label( class="form-email") }}
                  {{ form.password(class="form-control form-control-lg", id="myInput1") }}
                  <input type="checkbox" onclick="myFunction()">Show Password
                </div>


                <div class="form-outline mb-4">
                  <span>
                  {{form.confirm_password.label( class="form-email") }}
                  {{ form.confirm_password(class="form-control form-control-lg", id="myInput2") }}
                  <input type="checkbox" onclick="myFunction2()">Show Password
                  </span>
                </div>

                {% if error %}
                  <p class="text-danger mb-1 pb-lg-1">{{error}}</p>
                {% endif %}
                <div class="button d-flex justify-content-center">
                  {{form.submit(class='btn btn-success btn-lg btn-block')}}
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
function myFunction() {
  var x = document.getElementById("myInput1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function myFunction2() {
  var x = document.getElementById("myInput2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
{% endblock %}