{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<link rel="stylesheet" href="../static/css/CRUD.css">

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p class="text-center p-3"><img src="/static/images/TheLogo.png" alt="" style="width: 70px;, height: 70px;"></p>

    <a class="links" href="/admin"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
    <a class="links" href="/retrieveMessages"><i class="fa-solid fa-envelope"></i>Messages</a>
    <!--  <a href="/retrieveResumes">View job applications</a>-->
    <a class="links" href="/retrieveJobPositions"><i class="fa-solid fa-broom"></i>Job positions</a>
    <!--  <a href="/retrieveJobPositions">View job positions</a>-->
    <a class="links" href="/retrieveUsers"><i class="fa-solid fa-users"></i>User management</a>
    <a class="links" href="/retrieveProducts"><i class="fa-solid fa-warehouse"></i>Inventory</a>
    <a class="links" href="/retrieveReports"><i class="fa-solid fa-file"></i>Report generation</a>
    <a class="links" href="/createReport"><i class="fa-solid fa-plus"></i>Create report</a>
    <a class="links" href="/retrieveResumes"><i class="fa-solid fa-clipboard"></i>Job applications</a>
<!--  <a href="/retrieveProducts">View Products</a>-->
</div>



<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
<div class="container-fluid w-75">
<h1 class="display-4">Retrieve Resumes</h1>
<div>
  {% if count == 0 %}
  <p>There are no applicants.</p>
  {% elif count == 1 %}
  <p>There is 1 applicant.</p>
  {% else %}
  <p>There are {{ count }} applicants.</p>
  {% endif %}
</div>
        <!-- Earnings (Monthly) Card Example -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Amount of Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                NO. of staff</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ staff_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-unlock-keyhole fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                NO. of customer</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ customer_count }}</div>

                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-brands fa-intercom fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Active Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ active_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-signal text-success fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Earnings (Monthly) Card Example -->
<div style="padding-bottom: 3rem">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Citizenship</th>
        <th>Contact No.</th>
        <th>Preferred Job Position</th>
        <th>Uploaded Resume File</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for resumes in resumes_list %}
     <tr>
        <td>{{ resumes.get_resumes_id() }}</td>
        <td>{{ resumes.get_first_name() }}</td>
        <td>{{ resumes.get_last_name() }}</td>
        <td>{{ resumes.get_email() }}</td>
        <td>{{ resumes.get_address() }}</td>
        <td>{{ resumes.get_citizenship() }}</td>
        <td>{{ resumes.get_contactno() }}</td>
        <td>{{ resumes.get_preferredjob() }}</td>
        <td>{{ resumes.get_uploadfile() }}</td>
        <td><a href="/updateResumes/{{resumes.get_resumes_id()}}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
        <td>
          <form action="{{url_for('delete_resumes', id=resumes.get_resumes_id())}}" method="POST">
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{resumes.get_resumes_id()}}">
  <i class="fa fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{resumes.get_resumes_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{resumes.get_first_name()}} {{resumes.get_last_name()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<script src="../static/javascript/sidebar.js"></script>

{% endblock %}