{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/css/sidebar.css">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/retrieveMessages">View messages</a>
  <a href="/retrieveResumes">View job applications</a>
  <a href="/retrieveJobPositions">View job positions</a>
  <a href="/retrieveUsers">View users</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
<h1 class="display-4">Retrieve Job Positions</h1>
<div>
  {% if count == 0 %}
  <p>There are no jobs.</p>
  {% elif count == 1 %}
  <p>There is 1 job.</p>
  {% else %}
  <p>There are {{ count }} jobs.</p>
  {% endif %}
</div>
<div class="container-sm d-flex justify-content-center">
  <table class="table table-striped w-75 p-3 table-responsive">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>Job Availability</th>
        <th>Job Requirements</th>
        <th>Job Responsibility</th>
        <th>Job Salary</th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for jobpositions in jobpositions_list %}
        <tr>
          <td>{{ jobpositions.get_id() }}</td>
          <td>{{ jobpositions.get_jobname() }}</td>
          <td>{{ jobpositions.get_jobavailability() }}</td>
          <td>{{ jobpositions.get_jobrequirements() }}</td>
          <td>{{ jobpositions.get_jobresponsibility() }}</td>
          <td>${{ jobpositions.get_jobsalary() }}</td>



          <td><a href="/updateJobPositions/{{jobpositions.get_id()}}" class="btn btn-warning"><i class="fa fa-pencil"></i
      >  </a></td>
          <td>
            <form action="{{url_for('delete_jobpositions', id=jobpositions.get_id())}}" method="POST">
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{jobpositions.get_id()}}">
  <i class="fa fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{jobpositions.get_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{jobpositions.get_jobname()}} ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<script src="../static/javascript/sidebar.js"></script>



{% endblock %}