{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<link rel="stylesheet" href="../static/css/CRUD.css">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href=""><i class="fa-solid fa-table-columns"></i>Dashboard</a>
  <a href="/retrieveMessages"><i class="fa-solid fa-envelope"></i>Messages</a>
<!--  <a href="/retrieveResumes">View job applications</a>-->
  <a href="/createJobPositions"><i class="fa-solid fa-broom"></i>Job positions</a>
<!--  <a href="/retrieveJobPositions">View job positions</a>-->
  <a href="/usersOverview"><i class="fa-solid fa-users"></i>User management</a>
  <a href="/createProducts"><i class="fa-solid fa-warehouse"></i>Inventory</a>
<!--  <a href="/retrieveProducts">View Products</a>-->
</div>


<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
<div class="container-fluid w-75">
<h1 class="display-4">Retrieve Messages</h1>
<div>
  {% if count == 0 %}
  <p>There are no messages.</p>
  {% elif count == 1 %}
  <p>There is 1 messages.</p>
  {% else %}
  <p>There are {{ count }} messages.</p>
  {% endif %}
</div>
<div class="container-sm d-flex justify-content-center" style="padding-bottom: 3rem">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for message in message_list %}
     <tr>
        <td>{{ message.get_name() }}</td>
        <td>{{ message.get_email() }}</td>
        <td>{{ message.get_subject() }}</td>
        <td>{{ message.get_message() }}</td>
         <td><a href="/updateUser/{{message.get_message_id()}}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
        <td>
          <form action="{{url_for('delete_message', id=message.get_message_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{message.get_subject()}} ?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{message.get_message_id()}}">
  <i class="fa fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{message.get_message_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{message.get_subject()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<script src="../static/javascript/sidebar.js"></script>

<!--</div>-->

{% endblock %}