{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<link rel="stylesheet" href="../static/css/CRUD.css">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/retrieveMessages">View messages</a>
  <a href="/retrieveResumes">View job applications</a>
  <a href="/retrieveJobPositions">View job positions</a>
  <a href="/retrieveUsers">View users</a>
  <a href="/createProducts">Create Products</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
<div class="container-fluid w-75">
<h1 class="display-4">Manage Users</h1>
<div>
  {% if count == 0 %}
  <p>There are no user.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<div class="container-sm d-flex justify-content-center" style="padding-bottom: 3rem">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Id</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
     <tr>
        <td>{{ user.get_username() }}</td>
        <td>{{ user.get_email() }}</td>
        <td>{{ user.get_id() }}</td>
        <td>{{ user.get_password() }}</td>
        <td>{{ user.get_role() }}</td>
        <td><a href="/updateUsers/{{user.get_id()}}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
        <td>
          <form action="{{url_for('delete_user', id=user.get_id())}}" method="POST">
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{user.get_id()}}">
  <i class="fa fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{user.get_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{user.get_id()}} account?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<script src="../static/javascript/sidebar.js"></script>

{% endblock %}