{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/css/sidebar.css">
<link rel="stylesheet" href="../static/css/CRUD.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <p class="text-center p-3"><img src="/static/images/TheLogo.png" alt="" style="width: 70px;, height: 70px;"></p>

  <a class="links" href="/admin"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
  <a class="links" href="/retrieveMessages"><i class="fa-solid fa-envelope"></i>Messages</a>
<!--  <a href="/retrieveResumes">View job applications</a>-->
  <a class="links" href="/retrieveJobPositions"><i class="fa-solid fa-broom"></i>Job positions</a>
<!--  <a href="/retrieveJobPositions">View job positions</a>-->
  <a class="links" href="/retrieveUsers"><i class="fa-solid fa-users"></i>User management</a>
  <a class="links" href="/retrieveProducts"><i class="fa-solid fa-warehouse"></i>Inventory</a>
<!--  <a href="/retrieveProducts">View Products</a>-->
</div>



<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
<div class="container-fluid w-75">
<h1 class="display-4">Retrieve Job Positions</h1>
<div>
  {% if count == 0 %}
  <p>There are no jobs.</p>
  {% elif count == 1 %}
  <p>There is 1 job.</p>
  {% else %}
  <p>There are {{ count }} jobs.</p>
  {% endif %}
</div>
      <!-- Earnings (Monthly) Card Example -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Amount of Jobs</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                NO. of staff</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ staff_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-unlock-keyhole fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                NO. of customer</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ customer_count }}</div>

                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-brands fa-intercom fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Active Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ active_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-signal text-success fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Earnings (Monthly) Card Example -->
<div class="" style="padding-bottom: 3rem">
    <div class="row">
        <div class="col-md-12" style="text-align: right; padding-bottom: 15px;">
            <button class="btn btn-secondary btn-success"><a class="text-light text-decoration-none" href="/createJobPositions">Create Job Position</a></button>
        </div>
    </div>

  <table class="table table-striped" id="Mytable">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>Job Availability</th>
        <th>Job Responsibility</th>
        <th>Job Salary</th>
        <th>Update</th>
        <th>Delete</th>


      </tr>
    </thead>
    <tbody>
      {% for job_positions in job_positions_list %}
        <tr>
          <td>{{ job_positions.get_id() }}</td>
          <td>{{ job_positions.get_job_name() }}</td>
          <td>{{ job_positions.get_job_availability() }}</td>
          <td>{{ job_positions.get_job_responsibility() }}</td>
          <td>${{ job_positions.get_job_salary() }}</td>



          <td><a href="/updateJobPositions/{{job_positions.get_id()}}" class="btn btn-warning"><i class="fa fa-pencil">
          </i>  </a></td>
          <td>
            <form action="{{url_for('delete_jobpositions', id=job_positions.get_id())}}" method="POST">
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{job_positions.get_id()}}">
  <i class="fa fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{job_positions.get_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{job_positions.get_job_name()}} ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<script src="../static/javascript/sidebar.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
    $('#Mytable').DataTable();
        });
</script>


{% endblock %}
