{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<link rel="stylesheet" href="../static/css/CRUD.css">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <p class="text-center p-3"><img src="/static/images/TheLogo.png" alt="" style="width: 70px;, height: 70px;"></p>

  <a class="links" href="/admin"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
  <a class="links" href="/retrieveMessages"><i class="fa-solid fa-envelope"></i>Messages</a>
<!--  <a href="/retrieveResumes">View job applications</a>-->
  <a class="links" href="/createJobPositions"><i class="fa-solid fa-broom"></i>Job positions</a>
<!--  <a href="/retrieveJobPositions">View job positions</a>-->
  <a class="links" href="/usersOverview"><i class="fa-solid fa-users"></i>User management</a>
  <a class="links" href="/createProducts"><i class="fa-solid fa-warehouse"></i>Inventory</a>
<!--  <a href="/retrieveProducts">View Products</a>-->
</div>


<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>
<div class="container-fluid w-75">
<h1 class="display-4">Retrieve Products</h1>
<div>
  {% if count == 0 %}
  <p>There are no products.</p>
  {% elif count == 1 %}
  <p>There is 1 product.</p>
  {% else %}
  <p>There are {{ count }} products.</p>
  {% endif %}
</div>
<div class="container-sm d-flex justify-content-center" style="padding-bottom: 3rem">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    {% for products in products_list %}
     <tr>
        <td>{{ products.get_name() }}</td>
        <td>{{ products.get_rating() }}</td>
        <td>{{ products.get_description() }}</td>
        <td>{{ products.get_price() }}</td>
         <td><a href="/updateProducts/{{products.get_product_id()}}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
        <td>
          <form action="{{url_for('delete_product', id=products.get_product_id())}}" method="POST">
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{products.get_product_id()}}">
  <i class="fa fa-trash"></i>
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{products.get_product_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{products.get_name()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
<script src="../static/javascript/sidebar.js"></script>

<!--</div>-->

{% endblock %}