{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" href="/static/css/sidebar.css">
<link rel="stylesheet" href="/static/css/CRUD.css">

<div class="container w-50 p-5">

<h1 class="display-4">Update Job Positions</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.job_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.job_availability, class="form-control") }}
  </div>
    <div class="form-group">
    {{ render_field(form.job_responsibility, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.job_salary, class="form-control") }}
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock %}


