{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/sidebar.css">
<link rel="stylesheet" href="/static/css/CRUD.css">

<div class="container w-50 p-5">

<h1 class="display-4">Update Job Positions</h1>
    <form method="POST" action="">
      <div class="form-group">
        {{ form.Name.label( class="label") }}
        {{ form.Name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Rating.label( class="label") }}
        {{ form.Rating(class="form-control") }}
      </div>
        <div class="form-group">
        {{ form.Description.label( class="label") }}
        {{ form.Description(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Price.label( class="label") }}
        {{ form.Price(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.Submit(class="btn btn-primary") }}
      </div>

    </form>
</div>
<script src="../static/javascript/sidebar.js"></script>
{% endblock %}
