{% extends "base.html" %}
{% block title %}Dr. Donuts{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/sidebar.css">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <p class="text-center p-3"><img src="/static/images/TheLogo.png" alt="" style="width: 70px;, height: 70px;"></p>

  <a class="links" href="/admin"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
  <a class="links" href="/retrieveMessages"><i class="fa-solid fa-envelope"></i>Messages</a>
<!--  <a href="/retrieveResumes">View job applications</a>-->
  <a class="links" href="/createJobPositions"><i class="fa-solid fa-broom"></i>Job positions</a>
<!--  <a href="/retrieveJobPositions">View job positions</a>-->
  <a class="links" href="/usersOverview"><i class="fa-solid fa-users"></i>User management</a>
  <a class="links" href="/createProducts"><i class="fa-solid fa-warehouse"></i>Inventory</a>
<!--  <a href="/retrieveProducts">View Products</a>-->
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776;</button>

</div>
 <!-- Begin Page Content -->
                <div class="container-fluid w-75">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">User management</h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Amount of Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                NO. of staff</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ staff_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-unlock-keyhole fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                NO. of customer</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ customer_count }}</div>

                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-brands fa-intercom fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Active Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ active_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-signal text-success fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mb-4">

                        <div class="col-lg-6">

                            <!-- Default Card Example -->
                            <div class="card" style="min-height: 430px">
                                <div class="card-header fw-bold">
                                    VIEW ALL USERS
                                </div>
                                <div class="card-body">
                                    Clicking here grants access to an extensive database of all users, allowing you to easily navigate and view their profiles at your convenience.
                                </div>
                                    <div class="text-center pb-2 card-body"><img style="height: 150" class="img-thumbnail w-75" src="/static/images/Screenshot_20230211_012120.png" alt=""></div>
                                <div class="class-body p-3">
                                    <button type="button" class="btn btn-secondary btn-success"><a class='text-decoration-none text-light' href="/retrieveUsers">View all users</a></button>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <!-- Default Card Example -->
                            <div class="card" style="min-height: 430px">
                                <div class="card-header fw-bold">
                                    CREATE STAFF ACCOUNT
                                </div>
                                <div class="card-body">
                                   To create a staff account, go to the user management section, enter the required information, such as name, email, and role, and click "create account."
                                </div>
                                         <div class="text-center card-body"><img class="img-thumbnail w-75" src="/static/images/Screenshot_20230211_032709.png" alt=""></div>
                                <div class="class-body p-3">
                                    <button type="button" class="btn btn-secondary btn-success"><a class='text-decoration-none text-light' href="/retrieveUsers">Create account</a></button>
                                </div>
                            </div>

                        </div>

                    </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            <!-- End of Main Content -->
<script src="../static/javascript/sidebar.js"></script>
{% endblock %}